h2{
    font-family: 'Kanit' !important;
}
p{
    font-family: 'Kanit' !important;
}
h1{
    font-family: 'Kanit' !important;
}
tr th{
    font-family: 'Kanit' !important;
}
tr td{
    font-family: 'Kanit' !important;
}
strong{
    font-family: 'Kanit' !important;
}
/* .santa {
    background: url(http://myskins.org/images/santas.gif) no-repeat left;
    background: url(/eakkarnyang/public/images/gif/2020.gif) no-repeat left;
    background: url(https://www.animatedimages.org/data/media/563/animated-balloon-image-0036.gif) no-repeat left;
    background-size: 110px;
    background-position-y: 5px;
    padding-top: 0px;
    height: 170px;
    right: 0;
    text-align: right;
    } */
/*     
    .tree {
    background: url(http://myskins.org/images/ctree.png) bottom center;
    background: url(/eakkarnyang/public/images/gif/balloon.png) bottom center;
    background-size: 450px;
    background-position-y: 10px;
    padding: 0;
    height: 150px;
    -moz-animation: bgscroll 370s infinite linear;
    -ms-animation: bgscroll 370s infinite linear;
    -o-animation: bgscroll 370s infinite linear;
    -webkit-animation: bgscroll 370s infinite linear;
    } */
    
    /* .topwrap1 {
    color: #777;
    background: #FFF url(http://myskins.org/images/Mountain.png) top center repeat-x;
    background: #FFF url(/eakkarnyang/public/images/gif/fireworks.png) top center repeat-x;
    background-size: 200px;
    background-position-y: 10px;
    padding: 0;
    margin:0;
    height: 145px;
    border-bottom: 0 solid #333;
    margin: auto auto;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset,0 0 5px rgba(0, 0, 0, 0.5);
    } */
    
/*     
    .topwrap1 {
    -moz-animation: bgscroll 750s infinite linear;
    -ms-animation: bgscroll 750s infinite linear;
    -o-animation: bgscroll 750s infinite linear;
    -webkit-animation: bgscroll 750s infinite linear;
    }
    /* BEGIN ANIMATIONS */
    
    @-webkit-keyframes bgscroll {
        from {background-position: 0 0;}
        to {background-position: -9999px 0;}
    }
    
    @-moz-keyframes bgscroll {
        from {background-position: 0 0;}
        to {background-position: -9999px 0;}
    }
    
    @-ms-keyframes bgscroll {
        from {background-position: 0 0;}
        to {background-position: -9999px 0;}
    }
    
    @-o-keyframes bgscroll {
        from {background-position: 0 0;}
        to {background-position: -9999px 0;}
    } */
/*     
    @keyframes bgscroll {
        from {background-position: 0 0;}
        to {background-position: -9999px 0;}
    }
    
    .rotate{-webkit-transition-duration:.8s;
      -moz-transition-duration:.8s;
      -o-transition-duration:.8s;
      transition-duration:.8s;
      -webkit-transition-property:-webkit-transform;
      -moz-transition-property:-moz-transform;
      -o-transition-property:-o-transform;
      transition-property:transform;
      overflow:hidden;
    } */
    
    /* .rotate:hover{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg)
    } */
    
    
    /* .wrap{
      width: 95%;
      min-width: 1150px;
      max-width: 1200px;
      margin:0 auto;
      text-align:left
    } */
/* end */
#header.header-scrolled {
    background: #fff;
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
}
#header {
    padding: 20px 0;
    height: 90px;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #fff;
    box-shadow: 5px 0px 15px #c3c3c3;
}

#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

#logo {
    padding: 0px 0px 40px 0px;
    left: 0;
    top: 0;
    right: 0;
}

#header #logo h1 a, #header #logo h1 a:hover {
    color: #000;
    padding-left: 10px;
    border-left: 4px solid grey;
}
#nav-menu-container {
    float: right;
    margin: 0;
}
.nav-menu > li {
    margin-left: 10px;
}
.nav-menu > li {
    float: left;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
}
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-scrolled .nav-menu li:hover > a, .header-scrolled .nav-menu > .menu-active > a {
    color: #000;
}

.header-scrolled .nav-menu a {
    color: black;
}
.nav-menu li:hover > a, .nav-menu > .menu-active > a {
    color: #000;
}
.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
}

#mobile-nav-toggle {
    display: inline;
}
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}
#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mobile-nav ul li {
    position: relative;
}
#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #000;
}
#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}
#mobile-nav ul .menu-item-active {
    color: #000;
}
#mobile-nav ul li li {
    padding-left: 30px;
}

.menu-has-children ul
{display: none;}

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color:black;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}
.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}
.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
}
@media (max-width: 768px){
#nav-menu-container {
    display: none;
}

#mobile-nav-toggle {
    display: inline;
}
}
