.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    background: #FFF;
    
    padding: 20px 2px;
    margin:5px 0;
    
}
.col-item:hover
{ 
  box-shadow: 0px 2px 5px -1px #000;
  -moz-box-shadow: 0px 2px 5px -1px #000;
  -webkit-box-shadow: 0px 2px 5px -1px #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 10px;   
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
  border-bottom:2px solid #52A1D5;        
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;

    padding: 1px;
    border-radius: 10px 10px 0 0 ;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
    
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}

.post-img-content
{
    height: 250px;
    position: relative;
}

.center img { width: 40%; height: auto; position: absolute;
top: -webkit-calc(50% - 20%); left: -webkit-calc(50% - 20%);
top: -moz-calc(50% - 20%); left: -moz-calc(50% - 20%);
top: calc(00% - 20%); left: calc(50% - 20%); }

.absolute-aligned {
position: relative; min-height: 150px;

}
.absolute-aligned img {
width: 50%;
min-width: 200px;
height: auto;
overflow: auto; margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
}

.post-img-content img
{
    position: absolute;
    padding: 1px;

    height: 250px; 
    margin: 0 auto;
    border-radius: 0px 0px 0 0 ;
}
.post-name-text {
    min-height: 50px;
}
.round-tag{
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 0;
    border: 4px solid #FFF;
    background: #37A12B;
    position: absolute;
    bottom: 0px;
    padding: 15px 6px;
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
}
/*////////////////////////////////*/
.versus{
    position: absolute;
    background: #f7f8f9;
    border-radius: 100%;
    border: 1px solid #9361D4;
    color: #A788D1;
    font-size: 1.25em;
    height: 78px;
    left: 50%;
    margin-left: -39px;
    padding-top: 22px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 78px;
    z-index: 4;
 }
.divided {
    position: relative;
    background: #f7f8f9;
}
.divided::after {
    width: 1px;
    top: 100px;
    bottom: 100px;
    left: 50%;
    height: auto;
    right: auto;
    position: absolute;
}

@media (max-width: 768px) {
    .divided::after {
        background: linear-gradient(90deg, #f0f7fd 0, #813FD9 50%, #f0f7fd 100%);
        content: "";
        position: absolute;
        top: 50%;
        left: 20px;
        right: 20px;
        height: 1px;
        width: 100%;
    }   
}

@media (min-width: 576px) {
     .border-sm-top {
         border-top: 1px solid #dee2e6!important;
    }
     .border-sm-right {
         border-right: 1px solid #dee2e6!important;
    }
     .border-sm-left {
         border-left: 1px solid #dee2e6!important;
    }
     .border-sm-bottom {
         border-bottom: 1px solid #dee2e6!important;
    }
     .border-sm-top-0 {
         border-top:0!important;
    }
     .border-sm-right-0 {
         border-right: 0!important;
    }
     .border-sm-left-0 {
         border-left: 0!important;
    }
     .border-sm-bottom-0 {
         border-bottom: 0!important;
    }
}
 @media (min-width: 768px) {
     .border-md-top {
         border-top: 1px solid #dee2e6!important;
    }
     .border-md-right {
         border-right: 1px solid #dee2e6!important;
    }
     .border-md-left {
         border-left: 1px solid #dee2e6!important;
    }
     .border-md-bottom {
         border-bottom: 1px solid #dee2e6!important;
    }
     .border-md-top-0 {
         border-top:0!important;
    }
     .border-md-right-0 {
         border-right: 0!important;
    }
     .border-md-left-0 {
         border-left: 0!important;
    }
     .border-md-bottom-0 {
         border-bottom: 0!important;
    }
}
 @media (min-width: 992px) {
     .border-lg-top {
         border-top: 1px solid #dee2e6!important;
    }
     .border-lg-right {
         border-right: 4px solid #dee2e6!important;
    }
     .border-lg-left {
         border-left: 1px solid #dee2e6!important;
    }
     .border-lg-bottom {
         border-bottom: 1px solid #dee2e6!important;
    }
     .border-lg-top-0 {
         border-top:0!important;
    }
     .border-lg-right-0 {
         border-right: 0!important;
    }
     .border-lg-left-0 {
         border-left: 0!important;
    }
     .border-lg-bottom-0 {
         border-bottom: 0!important;
    }
}


.owl-buttons {
  display: none;
}
.owl-carousel:hover .owl-buttons {
  display: block;
}

.owl-item {
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 300px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px;
}
.how-section1{
    margin-top:-15%;
    padding: 5%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 5%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 40%;
}

.box10 .icon li a,.box11,.box12,.box13,.box14,.box6 .icon li a,.box7,.box7 .icon li a,.box8,.box8 .icon li a{text-align:center}

.box11 .post,.box14 .post{text-transform:capitalize}

.box14 .icon li,.box14 .post{display:inline-block}

.box14{position:relative}
.box15,.box17,.box18{box-shadow:0 0 5px #7e7d7d;text-align:center}
.box14:before{content:"";width:100%;height:100%;background:rgba(0,0,0,.5);position:absolute;top:0;left:0;opacity:0;transition:all .35s ease 0s}
.box14:hover:before{opacity:1}
.box14 img{width:100%;height:auto}
.box14 .box-content{width:90%;height:90%;position:absolute;top:5%;left:5%}
.box14 .box-content:after,.box14 .box-content:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;opacity:0;transition:all .7s ease 0s}
.box14 .box-content:before{border-bottom:1px solid rgba(255,255,255,.5);border-top:1px solid rgba(255,255,255,.5);transform:scale(0,1);transform-origin:0 0 0}
.box14 .box-content:after{border-left:1px solid rgba(255,255,255,.5);border-right:1px solid rgba(255,255,255,.5);transform:scale(1,0);transform-origin:100% 0 0}
.box14:hover .box-content:after,.box14:hover .box-content:before{opacity:1;transform:scale(1);transition-delay:.15s}
.box14 .title{font-size:21px;font-weight:700;color:#fff;margin:15px 0;opacity:0;transform:translate3d(0,-50px,0);transition:transform .5s ease 0s}
.box14:hover .title{opacity:1;transform:translate3d(0,0,0)}
.box14 .post{font-size:14px;color:#fff;padding:10px;background:#d79719;opacity:0;border-radius:0 19px;transform:translate3d(0,-50px,0);transition:all .7s ease 0s}
.box14 .icon,.box15 .icon{padding:0;list-style:none}
.box14:hover .post{opacity:1;transform:translate3d(0,0,0);transition-delay:.15s}
.box14 .icon{width:100%;margin:0;position:absolute;bottom:-10px;left:0;opacity:0;z-index:1;transition:all .7s ease 0s}
.box14:hover .icon{bottom:20px;opacity:1;transition-delay:.15s}
.box14 .icon li a{display:block;width:40px;height:40px;line-height:40px;border:1px solid #fff;border-radius:0 16px;font-size:14px;color:#fff;margin-right:5px;transition:all .4s ease 0s}
.box14 .icon li a:hover{background:#d79719;border-color:#d79719}
@media only screen and (max-width:990px){.box14{margin-bottom:30px}
}
